body {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 450;
    font-style: normal;
    padding-left:30%;
  }
  ol{
      margin:0px;
      padding: 15px;
  }
  
  #s1,#s2,#s3{
    max-width: 720px;
  }
  
  img{
    max-height:300px;
    display: flex;
  }